<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Institución Administradora de Fondos de Aseguramiento en Salud del Ejército del Perú</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <link rel="shortcut icon" href="images/Logos/favicon.ico" type="image/x-icon"/>        
        <link rel="stylesheet" href="css/bootstrap.min.css"/>
        <script src="javascript/jquery.min.js"></script>
        <script src="javascript/bootstrap.min.js"></script>
    </head>
    <body  oncontextmenu='return false' style="background: url(images/Fondos/fondo.jpg); background-repeat: repeat;">        
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-4 text-center mb-4">
                    <img src="images/Logos/logo.png" width="300" height="250" alt="Logo"/>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4">
                    <div class="login-wrap p-0">
                        <form class="login-wrap p-0 validate-form" action="login" method="post">
                            <div class="form-group">
                                <input type="text" id="username" name="username" class="form-control" placeholder="Usuario" required="required" autofocus="autofocus"/>
                            </div>
                            <div class="form-group">
                                <input type="password" id="password-field" name="password" class="form-control" placeholder="Password" required="required"/>
                                <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                            </div>
                            <div class="form-group">
                                <button name="btn_Ingresar" id="btn_Ingresar" type="submit" value="Ingresar" class="form-control btn btn-primary submit px-3">Ingresar</button>
                            </div>
                            <div class="form-group d-md-flex">
                                <div class="w-50">
                                    <label class="checkbox-wrap checkbox-primary">Remember Me
                                        <input type="checkbox" checked="checked"/>
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="footer">
                                <span style="font-weight: bold">IAFAS-EP</span><br/>
                                &copy; Todos los derechos reservados
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
<script src="javascript/main.js"></script>

